/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --page-background-image: url("../images/cover-image.png");
  --title-no-focus: #db00ff;
  --context-color-dark-light-theme: #f1b2ce;
  --menu-button-hover: rgb(255 0 112 / 0.4);
  --accent-color-theme: #ff0070;
  --layout-color-dark-light-theme: #000028;
}

.theme-dark .header_record {
  display: block;
}

.theme-dark .main__basic-title-style {
  color: var(--accent-color-theme);
}

.theme-dark .header__theme-menu-button {
  color: var(--accent-color-theme);
}

.theme-dark .header__theme-menu-button_active {
  outline: solid 1px var(--accent-color-theme);
}

.theme-dark .header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color-theme);
}

.theme-dark .content_description-text__description-link:focus-visible {
  outline: 1px solid var(--context-color-dark-light-theme);
}

.theme-dark .decorated-zone::before {
  border-bottom: solid 1px var(--accent-color-theme);
  border-left: solid 1px var(--accent-color-theme);
}

.theme-dark .decorated-zone::after {
  border-top: solid 1px var(--accent-color-theme);
  border-right: solid 1px var(--accent-color-theme);
}
